<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=SUNDAR-ACER-NEW\SQLEXPRESS;Database=ExpensePlus;Trusted_Connection=True;"/>
	</connectionStrings>
  <appSettings>
    <add key="AnnualIntrestRate" value="5"/>
    <add key="NumberofYearstoComputeInvestmentProjection" value="3"/>
  </appSettings>
</configuration>