<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=tcp:expenseplus.database.windows.net,1433;Initial Catalog=expenseplus;Persist Security Info=False;User ID=expenseplususer;Password=Expense#123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	</connectionStrings>
  <appSettings>
    <add key="AnnualIntrestRate" value="5"/>
    <add key="NumberofYearstoComputeInvestmentProjection" value="3"/>
  </appSettings>
</configuration>